@page
@using Book_Tracking_Application_Models
@model Book_Tracking_Application_App.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}


@section JSONLD
{
    @Html.Raw(Model.JSONLD.ToHtmlEscapedString());
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="card-title">Books</h4>
                    </div>
                    <div class="col-md-2 float-right">
                        <button type="button" class="btn btn-outline-success" id="addNewBookBtn" onclick="showNewBookModal()">
                            Add New
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-condensed table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ISBN</th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Book item in Model.Books)
                        {
                            <tr>
                                <th></th>
                                <td>@item.ISBN</td>
                                <td>@item.Title</td>
                                <td>@item.Author</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row hidden" id="addNewBook">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-white bg-success">
                <h5 class="card-title">New Book</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" asp-for="book.Title" type="text" id="title" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="isbn">ISBN</label>
                        <input class="form-control" asp-for="book.ISBN" type="text" id="isbn" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="author">Author</label>
                        <input class="form-control" asp-for="book.Author" type="text" id="author" />
                    </div>
                    <div class="mb-4">
                        <span class="text-danger" asp-validation-for="category.NameToken"></span>
                        <label asp-for="category.NameToken"></label>
                        <select asp-for="category.NameToken" asp-items="@Model.CategorySelectionItems">
                            <option value="">--- Pick a Category --</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>$(document).ready(function () {
        $("#addNewBook").addClass('hidden');
    });
    function showNewBookModal() {
        $("#addNewBook").removeClass('hidden');
    }
</script>